<nav th:fragment="nav-header" class="navbar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- LEFT SIDE LINKS -->
    <div class="nav-left">

        <span class="brand">FORMULA BOOK</span>

        <a th:href="@{/}" class="nav-btn">Home</a>
        <a th:href="@{/news}" class="nav-btn">News</a>
        <a th:href="@{/contact}" class="nav-btn">Contact</a>
        <a th:href="@{/about}" class="nav-btn">About</a>
        <a th:href="@{/orders}" class="nav-btn">Orders</a>
        <a th:href="@{/cart}" class="nav-btn">Cart</a>


        <a th:href="@{/admin/dashboard}"
           class="nav-btn"
           sec:authorize="hasRole('ADMIN')">
            Admin Dashboard
        </a>



    </div>

    <!-- RIGHT SIDE -->
    <div class="nav-right" sec:authorize="isAuthenticated()">
    <span class="nav-user">
        <span sec:authentication="name"></span>
    </span>

        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="nav-btn">Logout</button>
        </form>
    </div>

    </div>

    <!-- SCROLL HIDE/SHOW -->
    <script>
        let lastScrollTop = 0;
        const navbar = document.querySelector(".navbar");

        window.addEventListener("scroll", function () {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                navbar.style.transform = "translateY(-100%)";
            } else {
                navbar.style.transform = "translateY(0)";
            }

            lastScrollTop = scrollTop;
        });
    </script>

</nav>