<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Checkout</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar :: nav-header}"></div>

<div class="content-wrapper">

  <h2>Checkout</h2>

  <table border="1" style="width:100%">

    <thead>
    <tr>
      <th>Book</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Subtotal</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${cart.items}">
      <td th:text="${item.book.title}"></td>
      <td th:text="${item.book.price}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.book.price * item.quantity}"></td>
    </tr>
    </tbody>

  </table>

  <h3>Total: ₱<span th:text="${cart.total}"></span></h3>

  <form th:action="@{/checkout}" method="post">
    <button type="submit" class="nav-btn">
      Confirm Order
    </button>
  </form>

</div>

</body>
</html>