<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Add New Book</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar :: nav-header}"></div>

<div class="content-wrapper">
    <h2>Save Book</h2>

    <!-- The form sends data to /saveBook using POST -->
    <form th:action="@{/saveBook}" th:object="${book}" method="POST">

        <input type="hidden" th:field="*{id}">

        <!-- Cover -->
        <input type="text" th:field="*{cover}" placeholder="Book Cover">
        <p th:errors="*{cover}" style="color:red;"></p>

        <!-- Title -->
        <input type="text" th:field="*{title}" placeholder="Book Title">
        <p th:errors="*{title}" style="color:red;"></p>

        <!-- Author -->
        <input type="text" th:field="*{author}" placeholder="Author Name">
        <p th:errors="*{author}" style="color:red;"></p>

        <!-- Genre -->
        <input type="text" th:field="*{genre}" placeholder="Genre">
        <p th:errors="*{genre}" style="color:red;"></p>

        <!-- About -->
        <input type="text" th:field="*{about}" placeholder="About">
        <p th:errors="*{about}" style="color:red;"></p>

        <!-- Price -->
        <input type="number" th:field="*{price}" placeholder="Price">
        <p th:errors="*{price}" style="color:red;"></p>

        <button type="submit" class="nav-btn">Save Book</button>

        <div th:if="${message}" style="color:green;">
            <p th:text="${message}"></p>
        </div>

    </form>

    <hr>
    <a th:href="@{/}">Back to Book List</a>
</div>

</body>
</html>