<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Update New Book</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/navbar :: nav-header}"></div>
<div class="content-wrapper">
    <h2>Update Book</h2>

    <form th:action="@{/saveBook}" th:object="${book}" method="POST">
        <!-- CRITICAL: Hidden ID allows the database to 'update' instead of 'create new' -->
        <input type="hidden" th:field="*{id}">

        <!-- Cover Field -->
        <input type="text" th:field="*{cover}" placeholder="Book Cover" class="form-control mb-4 col-4">
        <p th:if="${#fields.hasErrors('cover')}" th:errors="*{cover}" style="color: red;"></p>

        <!-- Title Field -->
        <input type="text" th:field="*{title}" placeholder="Book Title" class="form-control mb-4 col-4">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;"></p>

        <!-- Author Field -->
        <input type="text" th:field="*{author}" placeholder="Author Name" class="form-control mb-4 col-4">
        <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red;"></p>

        <!-- About Field -->
        <input type="text" th:field="*{about}" placeholder="Book About" class="form-control mb-4 col-4">
        <p th:if="${#fields.hasErrors('about')}" th:errors="*{about}" style="color: red;"></p>

        <!-- Price Field -->
        <input type="text" th:field="*{price}" placeholder="Price Number" class="form-control mb-4 col-4">


        <button type="submit" class="nav-btn" style="background-color: #007bff;">Update Book</button>

        <!-- The Popup Script -->
        <script th:if="${priceError}">
            alert([[${priceError}]]);
        </script>

        <!-- success-->
        <div th:if="${message}" style="color: green; margin-bottom: 15px;">
            <p th:text="${message}"></p>
        </div>
    </form>
    <hr>
    <a th:href="@{/}">Back to Book List</a>
</div>
</body>
</html>